In [1]:
import pandas as pd

In [10]:
degreeplan = pd.read_csv('degreeplan.csv')

In [11]:
degreeplan = degreeplan.rename(columns = {'ID': 'id', 'NAME':'name', 'CREDITS':'credits', 'CATEGORY':'category', 'GRADE':'grade', 'TAKEN (TRUE, FALSE)': 'taken'})

In [12]:
degreeplan.head(10)

        id                             name  credits category grade  taken
0  HIS 120           History of Afghanistan        3  General     B   True
1  ENG 110               Academic Writing I        3  General     A  False
2  ENG 115              Academic Writing II        3  General    B-   True
3  ENG 215                 Expository Essay        3  General     C   True
4  ITC 109               Intro to Computers        3  General     D   True
5  MGT 100         Introduction of Business        3  General     A  False
6  MTH 110  Introduction of College Algebra        3  General    B+  False
7  STA 210                     Statistics I        3  General    A-   True
8  PHY 120        Introduction to Physics I        4  General    C+  False
9  BIO 130        Introduction to Biology I        4  General    C-  False

In [16]:
degreeplan = degreeplan.set_index('id')

In [17]:
degreeplan.head(3)

                           name  credits category grade  taken
id
HIS 120  History of Afghanistan        3  General     B   True
ENG 110      Academic Writing I        3  General     A  False
ENG 115     Academic Writing II        3  General    B-   True

In [6]:
degreeplan.loc['ITC 315']

name        Software Engineering
credits                        3
category           Concentration
grade                          A
taken                      False
Name: ITC 315, dtype: object

In [7]:
list(degreeplan.loc['ITC 315'])

['Software Engineering', 3, 'Concentration', 'A', False]

In [8]:
degreeplan.columns

Index(['name', 'credits', 'category', 'grade', 'taken'], dtype='object')

In [9]:
degreeplan.head(3)

                           name  credits category grade  taken
ID
HIS 120  History of Afghanistan        3  General     B   True
ENG 110      Academic Writing I        3  General     A  False
ENG 115     Academic Writing II        3  General    B-   True

In [18]:
degreeplan.drop('ITC 315', axis='rows')

,name,credits,category,grade,taken
id,,,,,
HIS 120,History of Afghanistan,3,General,B,True
ENG 110,Academic Writing I,3,General,A,False
ENG 115,Academic Writing II,3,General,B-,True
ENG 215,Expository Essay,3,General,C,True
ITC 109,Intro to Computers,3,General,D,True
MGT 100,Introduction of Business,3,General,A,False
MTH 110,Introduction of College Algebra,3,General,B+,False
STA 210,Statistics I,3,General,A-,True
PHY 120,Introduction to Physics I,4,General,C+,False
BIO 130,Introduction to Biology I,4,General,C-,False
LGS 110,Introduction to Afghanistan Law,3,General,D-,False
ENG 315,Translation: English & Dari,3,General,A,True
GEO 101,Introduction to Geography,3,General,B+,False
ABC 000,Sample course name 1,3,General,C,True
UNV 100,University Success,1,General,D,False
ABC 001,Sample course name 2,3,General,A,False
ABC 002,Sample course name 3,3,General,B+,True
ABC 003,Sample course name 4,3,General,A-,True
ABC 004,Sample course name 5,3,General,C+,True
ABC 005,Sample course name 6,3,General,C-,False
MTH 120,Discrete Math,3,Core,A-,True
ITC 110,Intro to Information Technology,3,Core,A-,False
ITC 135,Ethics and Professional Conduct,3,Core,C+,False
ITC 210,System Integration & Hardware Architecture,3,Core,A,False
ITC 215,Introduction to Programming,3,Core,B+,True
ITC 220,Fundamentals of Network and Telecom,3,Core,A-,True
ITC 225,Programming II,3,Core,C+,True
ITC 230,Database Concepts,3,Core,A,False
ITC 240,System Analysis and Design,3,Core,B+,True
ITC 310,Data Structures,3,Core,A-,False
ITC 330,System Admin and Maintenance,3,Core,C+,False
ITC 335,Mobile Application Development,3,Core,A,False
ITC 340,Human-Computer Interaction,3,Core,B+,True
ITC 345,Introduction to Python,3,Core,A-,True
ITC 410,Web Design and Development,3,Core,A,False
ITC 420,Info Technology Management,3,Core,B+,True
ITC 360,Data Mining,3,Core,A-,False
ITC 435,Software Testing and Quality Assurance,3,Concentration,B+,True
ITC 440,Real Time and Embedded Development,3,Concentration,A-,False

In [31]:
categories = degreeplan.groupby('category')

In [36]:
general = categories.get_group('General')
core = categories.get_group('Core')
concentration = categories.get_group('Concentration')

In [37]:
concentration

,name,credits,category,grade,taken
id,,,,,
ITC 315,Software Engineering,3,Concentration,A,False
ITC 435,Software Testing and Quality Assurance,3,Concentration,B+,True
ITC 440,Real Time and Embedded Development,3,Concentration,A-,False

In [38]:
general

                                    name  credits category grade  taken
id
HIS 120           History of Afghanistan        3  General     B   True
ENG 110               Academic Writing I        3  General     A  False
ENG 115              Academic Writing II        3  General    B-   True
ENG 215                 Expository Essay        3  General     C   True
ITC 109               Intro to Computers        3  General     D   True
MGT 100         Introduction of Business        3  General     A  False
MTH 110  Introduction of College Algebra        3  General    B+  False
STA 210                     Statistics I        3  General    A-   True
PHY 120        Introduction to Physics I        4  General    C+  False
BIO 130        Introduction to Biology I        4  General    C-  False
LGS 110  Introduction to Afghanistan Law        3  General    D-  False
ENG 315      Translation: English & Dari        3  General     A   True
GEO 101        Introduction to Geography        3  General    B+  False
ABC 000             Sample course name 1        3  General     C   True
UNV 100               University Success        1  General     D  False
ABC 001             Sample course name 2        3  General     A  False
ABC 002             Sample course name 3        3  General    B+   True
ABC 003             Sample course name 4        3  General    A-   True
ABC 004             Sample course name 5        3  General    C+   True
ABC 005             Sample course name 6        3  General    C-  False

In [39]:
core

,name,credits,category,grade,taken
id,,,,,
MTH 120,Discrete Math,3,Core,A-,True
ITC 110,Intro to Information Technology,3,Core,A-,False
ITC 135,Ethics and Professional Conduct,3,Core,C+,False
ITC 210,System Integration & Hardware Architecture,3,Core,A,False
ITC 215,Introduction to Programming,3,Core,B+,True
ITC 220,Fundamentals of Network and Telecom,3,Core,A-,True
ITC 225,Programming II,3,Core,C+,True
ITC 230,Database Concepts,3,Core,A,False
ITC 240,System Analysis and Design,3,Core,B+,True
ITC 310,Data Structures,3,Core,A-,False
ITC 330,System Admin and Maintenance,3,Core,C+,False
ITC 335,Mobile Application Development,3,Core,A,False
ITC 340,Human-Computer Interaction,3,Core,B+,True
ITC 345,Introduction to Python,3,Core,A-,True
ITC 410,Web Design and Development,3,Core,A,False
ITC 420,Info Technology Management,3,Core,B+,True
ITC 360,Data Mining,3,Core,A-,False